PORT=3000
DATABASE_URL="postgresql://postgres:postgres@db:5432/sharing_ploshadka_db?schema=public"
JWT_SECRET="super-secret-jwt-key-sharing-ploshadka-2026"
JWT_EXPIRES_IN="7d"

# TTLock Cloud API Credentials
TTLOCK_CLIENT_ID="your_ttlock_client_id"
TTLOCK_CLIENT_SECRET="your_ttlock_client_secret"
TTLOCK_USERNAME="your_ttlock_account"
TTLOCK_PASSWORD_MD5="your_md5_password"
TTLOCK_API_URL="https://euapi.ttlock.com"

# Cron Settings
CRON_GATEWAY_MONITOR="*/3 * * * *"
